<div class="mb-3 border border-info border border-3 border border p-3 ", style="border-radius: 15px">
  <h2 style="margin-bottom: 0">
    <%= loo.name %>

  </h2>
  <strong><%= loo.address %></strong>

  <p style="margin-top: 17px">
    <strong>Facility Type:</strong>
    <%= loo.facility_type %>
  </p>
  <p><strong>Facilities:</strong>
    <% if loo.parking %>
    <i class="fas fa-parking ms-1"></i>
    <% end %>


    <% if loo.accessible %>
    <i class="fas fa-wheelchair ms-1"></i>
    <% end %>


    <% if loo.baby_change %>
    <i class="fas fa-baby ms-1"></i>
    <% end %>


    <% if loo.male %>
    <i class="fas fa-male ms-1"></i>
    <% end %>


    <% if loo.female %>
    <i class="fas fa-female ms-1"></i>
    <% end %>


    <% if loo.unisex %>
    <i class="fas fa-restroom ms-1"></i>
    <% end %>
  <p>


  </p>
  <p> <i class="fas fa-star " ></i>
  <%= loo.average_star_rating %></p>

  <%= link_to 'Pick Me', loo_path(loo), class: "btn btn-outline-primary btn-sm border-3", style: "width:150px" %>


</div>
