 <%= link_to loos_path, class:"text-decoration-none" do %>
  <div class="d-flex justify-content-end mb-1 fs-1" style="padding-right: 19px; padding-top: 13px;">
    <i class="far fa-times-circle"></i>
  </div>
  <% end %>

<div class="container", style="background: white; margin: 20px; margin-top: 0px; border-radius: 6px;">
  <h2>Add a new Loo</h2>
  <%# // Bootstrap floating label // %>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Loo name">
    <label for="floatingInput">Toilet name: eg. Richmond BP</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Address">
    <label for="floatingInput">Address</label>
  </div>
  <%# ------------------------------- %>

  <%= simple_form_for @loo do |f| %>
    <%= f.input :parking %>
    <%= f.input :accessible %>
    <%= f.input :baby_change %>
    <%= f.input :male %>
    <%= f.input :female %>
    <%= f.input :unisex %>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Opening hours">
      <label for="floatingInput">Opening hours: eg. Mon-Fr, 9am to 5pm</label>
    </div>

      <div class="d-flex justify-content-center" style="width: 100%;">
        <div class="main-button">
          <%= f.button :submit, "Submit!", id:"sweet-alert-demo", class:"btn btn-3 btn btn-outline-primary btn-sm border-3 d-inline-block mx-auto w-100" %>
        </div>

      </div>
  <% end %>
  </div>
</div>
