 <%= link_to loos_path, class:"text-decoration-none" do %>
  <div class="d-flex justify-content-end mb-1 fs-1" style="padding-right: 19px; padding-top: 13px;">
    <i class="far fa-times-circle"></i>
  </div>
  <% end %>

<div class="container ", style="background: white; margin: 20px; margin-top: 0px; border-radius: 6px; position: relative;">
  <h2>Add a new Loo</h2>
  <%# // Bootstrap floating label // %>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Loo name">
    <label for="floatingInput">Toilet name: eg. Richmond BP</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Address">
    <label for="floatingInput">Address</label>
  </div>
  <%# ------------------------------- %>

  <%= simple_form_for @loo do |f| %>

 
    <div class= "d-flex flex-wrap align-items-start flex-column mb-3 ">



    <div class="form-check">
      <%= f.check_box :parking, class: "form-check-input" %>
      <%= f.label :parking, class: "form-check-label" do %>
        <i  class="fas fa-parking"></i> Parking
      <% end %>
    </div>
    <br>


    <div class="form-check">
      <%= f.check_box :accessible, class: "form-check-input" %>
      <%= f.label :accessible, class: "form-check-label" do %>
        <i  class="fas fa-wheelchair"></i> Accessible
      <% end %>
    </div>
      <br>


     <div class="form-check">
        <%= f.check_box :baby_change, class: "form-check-input" %>
      <%= f.label :baby_change, class: "form-check-label" do %>
        <i  class="fas fa-baby"></i> Baby Change
      <% end %>
      </div>
      <br>

      <div class="form-check">
        <%= f.check_box :male, class: "form-check-input" %>
        <%= f.label :male, class: "form-check-label" do %>
          <i  class="fas fa-male"></i> Male
        <% end %>
      </div>
      <br>

      <div class="form-check">
        <%= f.check_box :female, class: "form-check-input" %>
        <%= f.label :female, class: "form-check-label" do %>
          <i  class="fas fa-female"></i> Female
        <% end %>
      </div>
      <br>

        <div class="form-check">
        <%= f.check_box :unisex, class: "form-check-input" %>
        <%= f.label :unisex, class: "form-check-label" do %>
        <i  class="fas fa-restroom"></i> Unisex
        <% end %>
      </div>







    </div>

   

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Opening hours">
      <label for="floatingInput">Opening hours: eg. Mon-Fr, 9am to 5pm</label>
    </div>


      <div class="d-flex justify-content-center" style="width: 100%;">
      <br>
        <div class="main-button">
          <%= f.button :submit, "Submit!", id:"sweet-alert-demo", class:"btn btn-3 btn btn-outline-primary btn-sm border-3 d-inline-block mx-auto w-100" %>
        </div>

      </div>
  <% end %>
  </div>
</div>
