<div class="container", style="position: relative">
  <div class="rating-container">
    <div class="d-flex justify-content-between">
      <% unless @loo.favorited_by? current_user %>
        <%= link_to "Favorite", favourite_loo_path, method: :post, remote: true %>
        <% else %>
        <%= link_to "Unfavorite", unfavourite_loo_path, method: :delete, remote: true %>
        <% end %>
        <%= link_to "new review, temp link", new_loo_review_path(@loo) %>
        <%= link_to "X", root_path %>
      </div>
    <div class="row">
      <div class="col-12 pt-2">
        <h1 style="margin-bottom: 0"><%= @loo.name %></h1>
        <i class="fas fa-star fa-lg " , style="position: relative; top: -30px; left: 256px; width:100%; height:100%"></i>
        <%# <%= <i class="fas fa-star"></i> %>
         <%# <% if @loo.favoritable %>
        <%# <i class="fas fa-female ms-1"></i>
        <%# <% end %>
        <p><%= @loo.address %><p>
      </div>
      <div class="d-flex flex-column">
        <div class="category-card">
          <div class="d-flex align-items-center">
            <div class="c-score-bar rounded" style="width:100%; height:15px">
              <div class="c-score-bar-value rounded" style="width:<%= @average_star_rating * 20 %>% ; height:15px"></div>
            </div>
            <p class="ms-2"><%= @average_star_rating %></p>
          </div>
        </div>
      </div>
    </div>
    <%# // FACILITIES CONTAINER // %>
    <div class="row">
      <div class="col-12 pt-1 pb-1">
        <% if @loo.parking %>
          <i class="fas fa-parking"></i>
        <% end %>
      </div>
    </div>

    <%# // OPENING HOURS CONTAINER // %>
    <div class="row">
      <div class="col-12 pt-2 pb-2">
        <h4>opening hours</h4>
        <%# // PLACEHOLDER FOR ICONS BELOW - to be updated by shannon later // %>
        <p><%= @loo.opening_hours.downcase%></p>
      </div>
    </div>
  </div>


  <%# // RATING CONTAINER // %>
  <div class="rating-container">
    <div class="row">
      <div class="col-12">
        <h4>ratings</h4>
        <div class="d-flex flex-column">
          <div class="category-card">
            <p>cleanlines🧻</p>
            <div class="d-flex align-items-center">
              <div class="c-score-bar rounded">
                <div class="c-score-bar-value rounded" style="width:<%= @average_cleanliness_rating * 20 %>%"></div>
              </div>
              <p class="ms-2"><%= @average_cleanliness_rating %></p>
            </div>
          </div>
          <div class="category-card">
            <p>Flushing power 💪</p>
            <div class="d-flex align-items-center">
              <div class="c-score-bar rounded">
                <div class="c-score-bar-value rounded"
                style="width:<%= @average_flushing_power_rating * 20 %>%"></div>
              </div>
              <p class="ms-2"><%= @average_flushing_power_rating %></p>
            </div>
          </div>
          <div class="category-card">
            <p>ambience 💃</p>
            <div class="d-flex align-items-center">
              <div class="c-score-bar rounded">
                <div class="c-score-bar-value rounded" style="width:<%= @average_ambience_rating * 20 %>%"></div>
              </div>
              <p class="ms-2"><%= @average_ambience_rating %></p>
            </div>
          </div>
          <div class="category-card">
            <p>toiler paper 🧻 & soap 🧴</p>
            <div class="d-flex align-items-center">
              <div class="c-score-bar rounded text-info">
                <div class="c-score-bar-value rounded" style="width:<%= @average_toilet_paper_soap_rating * 20 %>%">
                </div>
              </div>
            <p class="ms-2"><%= @average_toilet_paper_soap_rating %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# // Button to toilet route to be updated //  %>
  <%= link_to "to the LOO!", navigation_loo_path(@loo) , class: "btn btn-primary text-warning w-100" %>
</div>
hello
