<div id="loading-screen" class="loading-screen active">
  <div class="loading-content", style= "position: relative">

  <%= image_tag "logo.png", class: "w-75", style: "position: absolute; top:40; left: 100" %>

  <%= image_tag "pinkpoo.png", id:"1", style: "width: 50px; height: 50px; position: absolute; top: 277px; left: 27px; transform:rotate(390deg); " %>
  <%= image_tag "pinkpoo.png", id:"2", style: "width: 50px; height: 50px; position: absolute; top: 450px; left: 160px; transform:rotate(324deg) " %>
  <%= image_tag "pinkpoo.png", id:"3", style: "width: 50px; height: 50px; position: absolute; top: 20px; left: 23px; transform:rotate(390deg) " %>
  <%= image_tag "pinkpoo.png", id:"4", style: "width: 50px; height: 50px; position: absolute; top: 110px; left: 170px; transform:rotate(324deg)" %>
  <%= image_tag "pinkpoo.png", id:"5", style: "width: 50px; height: 50px; position: absolute; top: 594px; left: 55px; transform:rotate(324deg)" %>





   <%= image_tag "loo.png", id:"1", style: "width: 50px; height: 50px; position: absolute; top: 217px; left: 279px; transform:rotate(390deg)" %>

  <%= image_tag "loo.png", id:"2",  style: "width: 50px; height: 50px;position: absolute; top: 5px; left: 259px; transform:rotate(390deg)" %>
  <%= image_tag "loo.png", id:"3",  style: "width: 50px; height: 50px;position: absolute; top: 555px; left: 259px; transform:rotate(324deg)" %>
  <%= image_tag "loo.png", id:"4",  style: "width: 50px; height: 50px;position: absolute; top: 439px; left: 24px; transform:rotate(324deg)" %>
  <%= image_tag "loo.png", id:"5",  style: "width: 50px; height: 50px;position: absolute; top: 138px; left: 22px; transform:rotate(390deg)" %>
  <%= image_tag "loo.png", id:"6",  style: "width: 50px; height: 50px;position: absolute; top: 404px; left: 301px; transform:rotate(390deg)" %>




  </div>
</div>
