<div id="loading-screen" class="loading-screen active">
  <div class="loading-content", style= "position: relative">

  <%= image_tag "logo.png", class: "w-75 animate__animated animate__bounce animate__repeat-infinite", style: "position: absolute; top: 50; left: 100" %>

  <%= image_tag "pinkpoo.png", id:"1", class: "animate__animated animate__jello repeat-infinite", style: "width: 50px; height: 50px; position: absolute; top: 15%; left: 30%; transform:rotate(390deg); " %>
  <%= image_tag "pinkpoo.png", id:"2", class: "animate__animated animate__jello repeat-infinite", style: "width: 50px; height: 50px; position: absolute; top: 30%; left: 70%; transform:rotate(324deg) " %>
  <%= image_tag "pinkpoo.png", id:"3", class: "animate__animated animate__jello repeat-infinite", style: "width: 50px; height: 50px; position: absolute; top: 45%; left: 10%; transform:rotate(390deg) " %>
  <%= image_tag "pinkpoo.png", id:"4", class: "animate__animated animate__jello repeat-infinite", style: "width: 50px; height: 50px; position: absolute; top: 65%; left: 65%; transform:rotate(324deg)" %>
  <%= image_tag "pinkpoo.png", id:"5", class: "animate__animated animate__jello repeat-infinite", style: "width: 50px; height: 50px; position: absolute; top: 75%; left: 30%; transform:rotate(324deg)" %>





  <%= image_tag "loo.png", id:"1", class: "animate__animated animate__rotateIn repeat-infinite", style: "width: 50px; height: 50px; position: absolute; top: 15%; left: 70%; transform:rotate(390deg)" %>
  <%= image_tag "loo.png", id:"2", class: "animate__animated animate__rotateIn repeat-infinite",  style: "width: 50px; height: 50px;position: absolute; top: 10%; left: 45%; transform:rotate(390deg)" %>
  <%= image_tag "loo.png", id:"3",  class: "animate__animated animate__rotateIn repeat-infinite", style: "width: 50px; height: 50px;position: absolute; top: 25%; left: 15%; transform:rotate(324deg)" %>
  <%= image_tag "loo.png", id:"4", class: "animate__animated animate__rotateIn repeat-infinite", style: "width: 50px; height: 50px;position: absolute; top: 55%; left: 80%; transform:rotate(324deg)" %>
  <%= image_tag "loo.png", id:"5", class: "animate__animated animate__rotateIn repeat-infinite", style: "width: 50px; height: 50px;position: absolute; top: 70%; left: 20%; transform:rotate(390deg)" %>
  <%= image_tag "loo.png", id:"6", class: "animate__animated animate__rotateIn repeat-infinite", style: "width: 50px; height: 50px;position: absolute; top: 80%; left: 70%; transform:rotate(390deg)" %>




  </div>
</div>
