<%# Confetti effect script %>
<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>


 <%# // RATING CONTAINER - flex to be added later // %>

 <%= link_to loos_path, class:"text-decoration-none" do %>

<div class="d-flex justify-content-end mb-1 fs-1" style="padding-right: 19px; padding-top: 13px;">

    <i class="far fa-times-circle"></i>
  </div>
  <% end %>
<div class="container" style="position: relative; margin: 20px; margin-top: 0px; background: white; border-radius: 6px;">
<h1><%= @loo.name %></h1>

  <div class="row">
    <div class="col-12">

      <%= simple_form_for [@loo, @review] do |f| %>

        <h2>Review this loo!</h2>
        <br>

        <div data-conroller="display-range-value">
        <h5>
          <%= f.input :cleanliness, label: "Cleanliness 🧽", input_html: { data: { action: "change->display-range-value#updateValue" }, type: 'range', class: "form-range border-0", min:"0", max:"10", step:"1" } %>
        </h5>
          <span class="d-flex justify-content-between "><p >0</p><p>5</p><p>10</p></span>
          <p data-display-range-value-target="rangeCounter" class= border-0></p>
        </div>

        <div data-controller="display-range-value">
          <h5>
            <%= f.input :flushing_power, label: "Flushing power 💪", input_html: { data: { action: "change->display-range-value#updateValue" }, type: 'range', class: "form-range border-0", min:"0", max:"10", step:"1" } %>
          </h5>
          <span class="d-flex justify-content-between"><p >0</p><p>5</p><p>10</p></span>
            <p data-display-range-value-target="rangeCounter"></p>
        </div>


        <div data-controller="display-range-value">
          <h5>
            <%= f.input :ambience, label: "Ambience 💃", input_html: { data: { action: "change->display-range-value#updateValue" }, type: 'range', class: "form-range border-0 ", min:"0", max:"10", step:"1" } %>
          </h5>
            <span class="d-flex justify-content-between"><p >0</p><p>5</p><p>10</p></span>
            <p data-display-range-value-target="rangeCounter"></p>
        </div>



        <div data-controller="display-range-value">
          <h5>
            <%= f.input :toilet_paper_soap, label: "Toilet paper 🧻 and soap🧴", input_html: { data: { action: "change->display-range-value#updateValue" }, type: 'range', class: "form-range border-0", min:"0", max:"10", step:"1" } %>
          </h5>
            <span class="d-flex justify-content-between"><p >0</p><p>5</p><p>10</p></span>
            <p data-display-range-value-target="rangeCounter"></p>
        </div>
        <div class="d-flex justify-content-center" style="width: 100%;">
        <%# <% "this button should triggers confetti effect " %>
          <div class="main-button">
        <%= f.button :submit, "Submit!", id: "confetti_button", class: "btn btn-3 btn btn-outline-primary btn-sm border-3 d-inline-block mx-auto w-100" %>
        <%# <% ------------------------------------------- %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
