<div class="container">
  <div class="row">
    <h1>Loo #<%= @loo.name %></h1>
  </div>
</div>

 <%# // RATING CONTAINER - flex to be added later // %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <%= simple_form_for [@loo, @review] do |f| %>
        <h2>Review this loo!</h2>
        <%# // PLACEHOLDER FOR ICONS BELOW - to be updated by shannon later // %>
        <div data-controller="display-range-value">
          <%= f.input :cleanliness, label: "cleanlines🧻", input_html: { data: { action: "change->display-range-value#updateValue" }, type: 'range', class: "form-range", min:"0", max:"5", step:"0.5" } %>
          <span class="d-flex justify-content-between"><p >0</p><p>2.5</p><p>5</p></span>
          <p data-display-range-value-target="rangeCounter"></p>
        </div>
        <div data-controller="display-range-value">
          <%= f.input :flushing_power, label: "Flushing power💪", input_html: { data: { action: "change->display-range-value#updateValue" }, type: 'range', class: "form-range", min:"0", max:"5", step:"0.5" } %>
          <span class="d-flex justify-content-between"><p >0</p><p>2.5</p><p>5</p></span>
          <p data-display-range-value-target="rangeCounter"></p>
        </div>
        <div data-controller="display-range-value">
          <%= f.input :ambience, label: "Ambience💃", input_html: { data: { action: "change->display-range-value#updateValue" }, type: 'range', class: "form-range", min:"0", max:"5", step:"0.5" } %>
          <span class="d-flex justify-content-between"><p >0</p><p>2.5</p><p>5</p></span>
          <p data-display-range-value-target="rangeCounter"></p>
        </div>
          <i class="fa fa-solid fa-toilet-paper-blank position-icon text-primary ms-1"></i>
        <div data-controller="display-range-value">
          <%= f.input :toilet_paper_soap, label: "Toilet paper🧻 and soap🧴", input_html: { data: { action: "change->display-range-value#updateValue" }, type: 'range', class: "form-range", min:"0", max:"5", step:"0.5" } %>
          <span class="d-flex justify-content-between"><p >0</p><p>2.5</p><p>5</p></span>
          <p data-display-range-value-target="rangeCounter"></p>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
