<!DOCTYPE html>
<html>
  <head>
    <%#= favicon_link_tag %>
    <link href="/assets/favicon-32x32.png" rel="shortcut icon" type="image/x-icon" />
    <title>TotheLoo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' if @show_navbar %>
    <%= render 'shared/flashes' %>

    <%= yield %>


  </body>
  <%= render 'components/loading_screen' %>
</html>
